.section__title {
	font-family: Roboto, sans-serif;
}

body {
	margin: 0;
}


.wrapper	{
	width: 79%;
	margin: auto;
}

.header 	{
	display: flex;
	justify-content: space-between;
	margin-bottom: 205px;
}

.logo 	{
	padding: 40px 0;
	font: 24px/31px pt_serifbold, arial, helvetica, sans-serif;
	padding-left: 44px;
	position: relative;
}

.logo__circle	{
	width: 28px;
	height: 28px;
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	border-radius: 50%;
}

.logo__circle_color_blue {
	left: 8px;
	top: 56%;
	background:  #C8DBFB;
	opacity: .7;
}

.logo__circle_color_dark-blue	{
	background: #0056EC;
	opacity: .7;
}

.menu {
 	display: flex;
 	align-items: center;
}

.menu__item	{
	align-content: center;
	font: 500 18px/21px Roboto, arial, helvetica, sans-serif;
 	color:#000;
 	text-decoration: none;
 	position: relative;
 	margin-right: 26px;
 	padding-top: 7px;
}

.menu__item:last-child {
	margin-right: 0;
	}

.menu__item:after {
	display: block;
	content: '';
	width: 0;
	height: 3px;
	background: #0056EC;
	position: absolute;
	opacity: 0;
	transition: opacity .5s, width .5s;
}

.menu__item:hover {
	opacity: .5;
}

.menu__item:hover:after, .menu__item_active:after	{
	opacity: 1;
	width: 100%;
 	}

.main {
	padding: 0 65% 15% 0;
	background: top right no-repeat url(img/Frame.svg);
}

.main__title {
	font: 700 66px/87px pt_serifbold, arial, helvetica; sans-serif;
	margin: 0 0 40px 0;
}

.main__description {
	font: 500 22px/26px Roboto, arial, helvetica, sans-serif;
	margin: 0 0 41px 0;
	padding: 0 20% 0 0;
}

.main__title_light-blue {
	background-color: #ECF3FF;
}

.main__button {
	display: inline-block;
	padding: 16px 22px;
	background-color: #0056EC;
	color: #fff;
	text-decoration: none;
	border-radius: 4px;
	font: 500 18px/21px Roboto, arial, helvetica, sans-serif;
	opacity: 1;
	transition: opacity .5s font-weight .5s;
}

.main__button:hover {
	opacity: 50%;
	font-weight: 600;
}

.menu__box {
	display: none;
}

#checkbox {
	  display: none;
	}
@media (max-width: 1500px) {
	.wrapper {
		width: 67%;
	}
	.menu__item	{
	align-content: center;
	font: 500 14px/16px Roboto, arial, helvetica, sans-serif;
 	margin-right: 26px;
 	padding-top: 7px;
 }

	.main {
		background-size: 60%;
		padding: 0 58% 25% 0;
	}
	.header {
		margin-bottom: 100px;
	}
	.main__title {
		font: 50px/66px pt_serifbold, arial, helvetica; sans-serif;
		max-resolution: 44px;
		width: 38vw;
	}

	.main__description {
		font: 500 18px/21px Roboto, arial, helvetica, sans-serif;
		margin-bottom: 41px;
		padding: 0;
	}
	.main__button {
		display: inline-block;
		padding: 14px 20px;
		font: 500 14px/16px Roboto, arial, helvetica, sans-serif;
		opacity: 1;
		transition: opacity .5s font-weight .5s;
	}

	.main__button:hover {
		opacity: 50%;
		font-weight: 600;
	}

	.wrapper {
		width: 67%;
		margin: auto;
	}
}

@media (max-width: 1310px) {

	.wrapper {
		width: 91%;
	}
	.header {
		margin-bottom: 100px;
	}
	.main {
		background-size: 60%;
	}
}

@media (max-width: 716px) {
	.wrapper {
		width: 87%;
		margin: auto;
	}
	.menu {
		display: none;
		/*position: absolute;*/
	}
	.header {
		margin-bottom: 14px;
		justify-content: space-between;
	}
	.main {
		background-size: 81%;
		background-position: top center;
		padding: 78% 0 0 0;
		text-align: center;
		justify-content: center;
	}
	.main__title {
		font: 30px/39px pt_serifbold, arial, helvetica; sans-serif;
		max-resolution: 44px;
		margin-bottom: 34px;
		padding: 0;
		width: 100%;
	}		

	.main__description {
		font: 500 16px/19px Roboto, arial, helvetica, sans-serif;
		margin-bottom: 25px;
		padding: 0 11%;
	}
	.main__button {
		font: 500 14px/16px Roboto, arial, helvetica, sans-serif;
		padding: 16px 22px;
	}
	.logo__text {
		display: none;
	}

	#checkbox:checked ~.menu__box {
	  width: 87%;
	  height: 80%;
	  background: #fff;
	  display: block;
	  position: absolute;
	}

	.burger {
		padding: 40px 24px 0 0;
		position: relative;
		cursor: pointer;
		z-index: 1;
	}

	.burger__line {
		position: absolute;
		width: 25px;
		height: 3px;
		background: #0056EC;
	}

	.burger__line::before {
		content:'';
		background: #0056EC;
		top: -7px;
		width: 25px;
		height: 3px;
		position: absolute;
	}

	.burger__line::after {
		content:'';
		background: #0056EC;
		top: 7px;
		width: 25px;
		height: 3px;
		position: absolute;
	}

	.menu__box {
		position: absolute;
		padding: 169px 0 0 0;
		list-style: none;
  	text-align: center;
  }

	.menu__item	{
		display: block;
		align-content: center;
		color:#000;
	 	text-decoration: none;
	 	position: relative;
	 	margin-bottom: 22px;
	 	font: 500 30px/35px Roboto, arial, helvetica; sans-serif;
	 	padding: 0;
	}

  .menu__item:after {
		display: block;
		content: '';
		width: 0;
		height: 3px;
		background: #0056EC;
		opacity: 0;
		transition: opacity .5s, width .5s;
		align-content: center;
		position: sticky;
	}

	#checkbox:checked ~ label > .burger > .burger__line {
		background-color: transparent;
	}

	#checkbox:checked ~ label > .burger > .burger__line::after {
		transform: rotate(45deg);
		top: 0;
	}

	#checkbox:checked ~ label > .burger > .burger__line::before {
		transform: rotate(-45deg);
		top: 0;
	}
}


